<section>
    <div class="container"><div class="row mt-3">
        <a href="/" class="btn btn-success ms-auto" style="width:11%">Go back</a></div>
        <table class="table mt-3">
  <thead>
    <tr>
        
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>Lenovo</td>
      <td>Laptops</td>
      <td>45000</td>
      <td>Good laptop for professionals</td>
      <td><img style="width: 50px;height:50px"  src="https://imgs.search.brave.com/UI11x1a4-N1s5LtRoh3-Mit0Z9u77cl0LhVqo1pZI3c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NzF6OE5qZk0xT0wu/anBn"></td>
    </tr>
  </tbody>
</table>
    </div>
</section>