<div class="login-box">
        <h1>Create New account</h1>
        <form>
            <label>Name</label>
            <input type="text" placeholder="Enter your name">
            <label>Email address</label>
            <input type="email" placeholder="Enter email">
            <label>Password</label>
            <input type="password" placeholder="Password">
            <button class="login-btn">Get started!!</button>
            </div>
        </form>
    </div>